@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/aptos/300.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/aptos/300.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/aptos/300.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/aptos/400.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/aptos/400.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/aptos/600.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/aptos/700.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/aptos/800.woff2') format('woff2');
}

@font-face {
  font-family: 'Aptos';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/aptos/900.woff2') format('woff2');
}
